.st-open {
  border-left: 0px;	
}

.private {
  border-left: 5px solid #8B0000;
}

.import {
	border-left: 5px solid #f6f483;
}	

span.required {
  color: red
}

span.required a {
  color: red
}

tr.oddRow {
  color: black;
}

.table-striped-row tr:nth-child(even) td {
  color: black;
  background-color:#F3F6F6D9; 
}

ul.no-bullets {
  list-style-type: none;
}

.custom-notification {
    position: fixed;
    top: 40px;
    right: 20px;
    background: 'black';
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

/* Notification Types */
.custom-notification-info { background: black; }
.custom-notification-success { background: green; }
.custom-notification-warning { background: orange; }
.custom-notification-error { background: red; }

/*
   Override Built in Tiddlywinks
*/
.tc-sidebar-tabs-main .tc-sidebar-tab-open .tc-sidebar-tab-open-item .tc-tiddlylink {
  color: #d2d2d2;
}